body {
  padding: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  width: 80vw;
  height: 100vh;
  margin: 20px auto;
  background-color: #f1f1f4;
  border: 4px solid hsl(219, 63%, 54%);
  padding: 20px;
}
h1 {
  text-align: center;
}
hr {
  border-bottom: 1px solid black;
  margin: 1.5em 0;
}

#wrap {
  font-size: 1.5rem;
}
